.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
    background-color: pink; 
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
    background-color: yellow; 
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
    background-color: red; 
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
    background-color: purple; 
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
    background-color: blue; 
}
.front {
	transform: translateZ(100px);
    background-color: orange; 
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}